{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="text-center">
        <h2>My account</h2>
        <br>
        <form class="account-form" method="post" novalidate>
            {% csrf_token %}
            <p><b>Name:</b>&ensp;{{ user.first_name }}</p>
            <p><b>Surname:</b>&ensp;{{ user.last_name }}</p>
            <p><b>E-mail:</b>&ensp;{{ user.email }}</p>
            {{ form | crispy }}
            <a href="{% url 'logout' %}">
                  <button class="btn" type="button">Log out</button>
              </a>
        </form>
    </div>
{% endblock %}
