{% extends 'base.html' %}


{% block content %}
    <div class="auth-container">
        <div class="auth-form">
            <h2>Change Password</h2>

            <form method="post" novalidate>
                {% csrf_token %}
                {#                <input type="hidden" name="next" value="{{ next }}">#}
                <div class="authfield-row row">
                    <div class="authfield-label">
                        <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
                    </div>
                    <div class="authfield-input">{{ form.old_password }}</div>
                </div>
                <div class="authfield-row row">
                    <div class="authfield-label">
                        <label for="{{ form.new_password2.id_for_label }}">Password:</label>
                    </div>
                    <div class="authfield-input">{{ form.new_password1 }}</div>
                </div>
                <div class="authfield-row row">
                    <div class="authfield-label">
                        <label for="{{ form.new_password2.id_for_label }}">Password Confirmation:</label>
                    </div>
                    <div class="authfield-input">{{ form.new_password2 }}</div>
                </div>

                <div class="buttons-row">
                    <button type="submit" class="btn">Change Password</button>
                    <a href="{% url 'home' %}">
                        <button class="btn" type="button">Homepage</button>
                    </a>
                </div>
            </form>
        </div>
    </div>




{% endblock %}