{% extends 'base.html' %}

{% block content %}
    <div class="greeting-container text-center">
        <h1>Testing Service</h1>
        <div>
            <h2>Hello! This is web-testing service.<span class="icon-emo-happy"></span></h2>
            <p class="lead">
                If you already have an account, go to <a href="{% url 'login' %}">Authorization page</a>.
                <br>
                If you do not have an account, please sign up as
                <a href="{% url 'student_signup' %}">Student</a>
                or
                <a href="{% url 'teacher_signup' %}">Teacher</a>.
        </div>
        <div class="tiles">
            <a href="https://mechmat.knu.ua/" class="tile-link">
                <div class="tile">
                    <i class="tile-icon fa-solid fa-building-un"></i>
                    <div class="tile-text">Faculty</div>
                </div>
            </a>
            <a href="https://mechmat.knu.ua/golovna/fakul-tet/biblioteka/" class="tile-link">
                <div class="tile">
                    <i class="tile-icon fas fa-thin fa-book"></i>
                    <div class="tile-text">Library</div>
                </div>
            </a>
            <a href="https://github.com/andriidem308/django_eolimp" class="tile-link">
                <div class="tile">
                    <i class="tile-icon fa-brands fa-github"></i>
                    <div class="tile-text">GitHub</div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}