body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Alatsi", serif;
}

.card {
    background-color: #37c44a;
}

a {
    color: #71bbff;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.nav-link {
    color: white;
}

.nav-link.active {
    background-color: #efc702;
    color: #000000
}

.basic-text {
    font-family: "Alatsi", serif;
}

.lead {
    font-size: 24px;
}

.container-center {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}

.main-container h1 {
    font-size: 72px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-container h2 {
    font-size: 40px;
}

.tiles {
    display: flex;
    justify-content: center;

    margin-top: 50px;
    margin-right: 40px;
}


.tile {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;

    border: 2px solid black;
    border-radius: 30px;

    align-items: center;
    justify-content: center;

    color: #333;

    margin-left: 40px;
}

.tile-icon {
    font-size: 60px;
    margin: 10px;
}

.tile-text {
    margin: 10px;
}


.auth-form {
    width: 500px;
    margin: 150px auto;
    padding: 20px;
    background-color: #ffffff;

}

.auth-form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.auth-form form {
    margin-bottom: 20px;
}

.auth-form button,
.auth-form button a {
    width: 120px;
    background-color: #058ef1;
    color: #ffffff;
}

.auth-form button:hover,
.auth-form button a:hover {
    background-color: #3270ff;
    color: #ffffff;
}

.auth-form form input[type="text"],
.auth-form form input[type="password"],
.auth-form form input[type="email"],
.auth-form form select[name="group"],
.auth-form form textarea {
    border: 1px solid black;
}

div.buttons-row {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    margin: 0 auto;
    align-content: center;

    justify-content: center;
    list-style-type: none
}


.nav-item,
.nav-item a {
    background-color: blue;
    color: black;
}