body {
    background-color: #82b5d5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Alatsi", serif;
}

.card {
  background-color: #37c44a;
}

a {
  color: #e9efef;
}

.nav-link {
  color: white;
}

.nav-link.active {
  background-color: #efc702;
  color: #000000
}

.basic-text {
    font-family: "Alatsi", serif;
}