body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Alatsi", serif;
}

.container-center {
    word-wrap: break-word;
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
    bottom: 10%;
}


.greeting-container {
    margin: 10%;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 24px;
}

h2.page-title {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin: 0;
}

.navigation {
    position: fixed;
    background-color: #3270ff;
    height: 50px;
    width: 200vh;
    z-index: 100000;
}

.navigation-list {
    padding-right: 5%;
    padding-left: 5%;
    width: 78%;
    height: 100%;


    margin: auto;
    display: flex;

    justify-content: space-between;
    align-content: center;
    list-style-type: none;
}

.navigation-item {
    display: flex;

    height: 100%;
    font-size: 20px;
    margin: auto;
}

.navigation-icon {
    font-size: 30px;
    margin: auto;
    color: #ffffff;

}

.navigation-link {
    height: 100%;
    align-items: center;
    color: #ffffff;
    display: flex;
    margin: auto;
}

.navigation-link:hover,
.icon-link i:hover {
    color: #dedede;
}


.nav-link {
    margin-right: 3px;
    background-color: #058ef1;
    color: white;
}

.nav-link.active-tab {
    background-color: #41d369;
}

.nav-link:hover {
    background-color: #3270ff;
    color: white;
}

.nav-link.active-tab:hover {
    background-color: #3da85a;
}

.card {
    background-color: #37c44a;
}

a {
    color: #71bbff;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.basic-text {
    font-family: "Alatsi", serif;
}

.lead {
    font-size: 24px;
}

.account-form {
    text-align: left;
}

.main-container h2 {
    font-size: 40px;
}

.tiles {
    display: flex;
    justify-content: center;

    margin-top: 50px;
    margin-right: 40px;
}

.tile {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;

    border: 2px solid black;
    border-radius: 30px;

    align-items: center;
    justify-content: center;

    color: #333;

    margin-left: 40px;
}

.tile:hover {
    background-color: #d0d0d0;
}

.tile-icon {
    font-size: 60px;
    margin: 10px;
}

.tile-text {
    margin: 10px;
}

.icon-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.icon-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 0 15px;

}

.auth-form {
    top: 20%;
    bottom: 20%;
    width: 500px;
    margin: 15% auto;
    /*margin-top: ;*/
    padding: 20px;
    background-color: #ffffff;

}

.auth-form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.auth-form form {
    margin-bottom: 20px;
}

button,
button a {
    min-width: 120px;
    background-color: #058ef1;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover,
button a:hover {
    background-color: #3270ff;
    color: #ffffff;
}

button[type="submit"] {
    background-color: #41d369;
    color: #ffffff;
}

button[type="submit"]:hover {
    background-color: #3da85a;
    color: #ffffff;
}

.auth-form form input[type="text"],
.auth-form form input[type="password"],
.auth-form form input[type="email"],
.auth-form form select[name="group"],
.auth-form form textarea {
    border: 1px solid black;
}

div.buttons-row {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table td a {
    color: #000000
}


table tr:hover {
    background-color: #e6e6e6;
}

.title-div {
    margin-top: 20px;
    text-align: center;
}

.list-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-link {
    font-size: 25px;
}

.left-panel {
    position: fixed;
    left: 3%;
    top: 15%;
    height: 600px;
    width: 350px;
    border-radius: 25px;
    z-index: 10000000;
    background-color: #ebebeb;
}


.h5 {
    text-align: center;
    font-size: 25px;
}

.panel-headline {
    height: 12%;
    padding: 20px;
    /*margin: 25px;*/
    display: flex;
    justify-content: center;
}


.panel-content {
    top: 12%;
    height: 80%;
}

.panel-rows {
    height: 100%;
}


.panel-rows div {
    height: 20%;
    padding: 20px;
    font-size: 20px;
    align-items: center;

}

.panel-rows div a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.panel-rows div:hover {
    background-color: #d2d2d2;
}

.panel-bottom {
    position: absolute;
    width: 100%;
    height: 8%;

    display: flex;
    align-items: center;
    justify-content: right;
}

.panel-bottom a {
    font-size: 15px;
    padding-right: 30px;
}

.account-form p {
    margin-bottom: 15px;
}

.account-form a,
.account-form a button {
    margin-top: 20px;
}