{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-3">Групи</h2>
    <div class="card">
        <table class="table mb-0">
            <tbody>
                {% for group in groups %}
                <tr>
                    <td class="align-middle"><a href="{% url 'teachers:group' group.pk %}">{{ group.group_name }}</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="5">У Вас поки ще немає груп .</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
