{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2 class="page-title">Add group</h2>

    <div class="row">
        <div class="col-md-6 col-sm-8 col-12">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="form-group row">
                    <label for="{{ form.group_name.id_for_label }}" class="col-sm-3 col-form-label">Group name:</label>
                    <div class="col-sm-9">
                        {{ form.group_name|as_crispy_field }}
                    </div>
                </div>
                <div class="buttons-row">
              <button type="submit" class="btn">Save</button>
              <a href="{% url 'teachers:groups_list' %}">
                  <button class="btn" type="button">Cancel</button>
              </a>
          </div>
            </form>
        </div>
    </div>

{% endblock %}
