{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mb-3">Додати Матеріал</h2>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Зберегти</button>
        <a href="{% url 'teachers:lecture_change_list' %}" class="btn btn-outline-secondary" role="button">Відмінити</a>
      </form>
    </div>
  </div>
{% endblock %}
