{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
        <h2 class="mb-3">Lecture {{ lecture.title }}</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="buttons-row">
                    <button type="submit" class="btn">Save changes</button>
                    <a href="{% url 'teachers:lecture_change_list' %}">
                        <button class="btn" type="button">Cancel</button>
                    </a>
                </div>
            </form>
{% endblock %}


