{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-3">Задачі</h2>
    <a href="{% url 'teachers:problem_add' %}" class="btn btn-primary mb-3" role="button">Нова задача</a>
    <div class="card">
        <table class="table mb-0">
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td class="align-middle"><a href="{% url 'teachers:problem_change' problem.pk %}">{{ problem.title }}</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="5">Ви не додали ще ні одної задачі.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
