{% extends 'base.html' %}

{% block content %}
        <div class="container-center">
    <h2 class="mb-3">Problems</h2>
    <a href="{% url 'teachers:problem_add' %}" class="btn btn-primary mb-3" role="button">New problem</a>
        <table class="table mb-0">
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td class="align-middle"><a href="{% url 'teachers:problem_change' problem.pk %}">{{ problem.title }}</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="5">No problems written yet</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
