{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <h2 class="mb-3">Task {{ solution.problem.title }}</h2>
    <h2 class="mb-3 text-dark">Student solution
        <span class="text-warning">
            {{ solution.student.user.last_name }} {{ solution.student.user.first_name }}
        </span>
    </h2>
    <pre><code class="card python bg-white m-2 p-5">{{ code | safe }}</code></pre>
    <div class="row mb-3">
        <div class="col-md-6 col-sm-8 col-12">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <a download href="/teachers/solutions/{{ solution.pk }}/download" class="btn btn-light"
                   role="button" style="background-color: #efc702; color: #000000">Download solution</a>
                <button type="submit" class="btn btn-success" style="background-color: #058ef1; color: #000000">
                    Checked
                </button>
            </form>
        </div>
    </div>
{% endblock %}
