{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <h2 class="page-title">Problem: {{ solution.problem.title }}</h2>
    <h3 class="mb-3 text-dark">
        Solution of student: {{ solution.student.user.last_name }} {{ solution.student.user.first_name }}
    </h3>
    <pre><code class="card python bg-white p-4">{{ code | safe }}</code></pre>
    <div class="row mb-3">
        <div class="col-md-6 col-sm-8 col-12">
            <form method="post" novalidate>
                {% csrf_token %}

                <div class="form-group row">
                    <label for="{{ form.score.id_for_label }}" class="col-sm-3 col-form-label">Score:</label>
                    <div class="col-sm-9">
                        {{ form.score|as_crispy_field }}
                    </div>
                </div>

                <div class="buttons-row">
                    <button type="submit" class="btn btn-success">Checked</button>
                    <a download href="{% url 'teachers:problem_change_list' %}">
                        <button class="btn" type="button">Download solution</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
