{% extends 'base.html' %}

{% block content %}
    <h2 class="page-title">Students of the group {{ group_title }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Surname</th>
            <th>Name</th>
            <th>Final score</th>
        </tr>
        </thead>
        <tbody>
        {% for k, v in data.items %}
            <tr>
                <td class="align-middle">{{ v.last_name }}</td>
                <td class="align-middle">{{ v.first_name }}</td>
                <td class="align-middle">{{ v.total_solutions_score }} / {{ v.total_problems_points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
