{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <head>
        <title>Add test </title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
    <h1>Add Test</h1>

    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ test_form.group.id_for_label }}" class="col-sm-3 col-form-label">Group:</label>
            <div class="col-sm-9">
                {{ test_form.group|as_crispy_field }}
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ test_form.title.id_for_label }}" class="col-sm-3 col-form-label">Title:</label>
            <div class="col-sm-9">
                {{ test_form.title|as_crispy_field }}
            </div>
        </div>

        <div id="questions-container">
            {{ question_formset.management_form }}

            <div class="form-group row">
                {% for form in question_formset %}
                    <label for="{{ form.text.id_for_label }}" class="col-sm-3 col-form-label">Question:</label>
                    {{ form.text | as_crispy_field }}

                    <label for="{{ answer_form.answer_1_text.id_for_label }}" class="col-sm-3 col-form-label">Answer 1:</label>
                    {{ answer_form.answer_1_text | as_crispy_field }}
                    {{ answer_form.answer_1_correct | as_crispy_field }}
                    <label for="{{ answer_form.answer_1_text.id_for_label }}" class="col-sm-3 col-form-label">Answer 2:</label>
                    {{ answer_form.answer_2_text | as_crispy_field }}
                    {{ answer_form.answer_2_correct | as_crispy_field }}
                    <label for="{{ answer_form.answer_1_text.id_for_label }}" class="col-sm-3 col-form-label">Answer 3:</label>
                    {{ answer_form.answer_3_text | as_crispy_field }}
                    {{ answer_form.answer_3_correct | as_crispy_field }}
                    <label for="{{ answer_form.answer_1_text.id_for_label }}" class="col-sm-3 col-form-label">Answer 4:</label>
                    {{ answer_form.answer_4_text | as_crispy_field }}
                    {{ answer_form.answer_4_correct | as_crispy_field }}

                {% endfor %}
            </div>

            <button type="button" id="add-question" class="btn btn-primary">Add question</button>
            <br><br>

            <input type="submit" value="Save" class="btn btn-success">
        </div>
    </form>
    </body>
{% endblock %}

