{% extends 'base.html' %}

{% block content %}
  <h2 class="page-title">Lectures</h2>
    <table class="table">
        <tbody>
        {% for lecture in lectures %}
            <tr>
                <td class="align-middle">
                    <a class="table-link" href="{% url 'students:lecture_view' lecture.pk %}">{{ lecture.title }}</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-center font-italic" colspan="5">There is no lecture yet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
