{% extends 'base.html' %}

{% block content %}
    <h2>Lectures</h2>
    <ul class="p-2 m-3">
        {% for lecture in lectures %}
            <h4 class="card-title"><a href="{% url 'students:lecture_view' lecture.pk %}">{{ lecture.title }}</a></h4>
            <h5 class="grey summary card-subtitle">{{ lecture.description }}</h5>
            <hr>
        {% empty %}
            <li class="row">
                <span class="grey summary card-subtitle">There is no lecture yet</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
