{% extends 'base.html' %}

{% block content %}
    <h2 class="page-title">{{ lecture.title }}</h2>
    <h3>{{ lecture.description }}</p>
    <div class="buttons-row">
    <a href="{% url 'students:lecture_list' %}">
        <button class="btn" type="button">Return to lectures</button>
    </a>
        {% if lecture.attachment %}

            <a download href="/students/lectures/{{ lecture.pk }}/download_attachment">
                <button class="btn" type="submit">Download attachment</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
