{% extends 'base.html' %}

{% block content %}
  {% include 'students/problems_list_header.html' with active_tab='problem' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Задача</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for problem in problems %}
          <tr>
            <td class="align-middle">{{ problem.title }}</td>
            <td class="text-right">
              <a href="{% url 'students:take_problem' problem.pk %}" class="btn btn-primary">Розв'язати</a>
            </td>
          </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
