{% extends 'base.html' %}

{% block content %}
  {% include 'students/problems_list_header.html' with active_tab='solution' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Задача</th>
          <th>Бали</th>
          <th>Перездати</th>
        </tr>
      </thead>
      <tbody>
        {% for solution in solutions %}
          <tr>
            <td>{{ solution.problem.title }}</td>
            <td>{{ solution.score }} / {{ solution.problem.problem_value }}</td>
            <td><a href="{% url 'students:take_problem' solution.problem.pk %}" class="btn btn-warning">Так</a></td>
          </tr>
        {% empty %}
          <tr>
            <td class="text-center font-italic" colspan="3">Ви ще не вирішили жодної задачі.</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Сума</th>
          <th>{{ points_sum }} / {{ points_total }}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
