{% extends 'base.html' %}

{% block content %}
      <h2 class="page-title">Solutions </h2>
  {% include 'students/problems_list_header.html' with active_tab='solution' %}
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Problem</th>
          <th>Score</th>
          <th>Re-take</th>
        </tr>
      </thead>
      <tbody>
        {% for solution in solutions %}
          <tr>
            <td>{{ solution.problem.title }}</td>
            <td>{{ solution.score }} / {{ solution.problem.problem_value }}</td>
            <td><a href="{% url 'students:take_problem' solution.problem.pk %}" class="btn btn-warning">Yes</a></td>
          </tr>
        {% empty %}
          <tr>
            <td class="text-center font-italic" colspan="3">You haven't solved a single problem yet.</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Final score</th>
          <th>{{ points_sum }} / {{ points_total }}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>

{% endblock %}
