{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2 class="mb-3">{{ task.title }}</h2>
    <p class="lead">{{ task.condition }}</p>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form | crispy }}
{#        <input type="checkbox" id="use_files" name="use_files">#}
{#        <label for="use_files">Код використовує файли введення/виведення</label>#}
{#        <br><br>#}
        <button type="submit" class="btn btn-primary">Відправити розв'язок</button>
    </form>
{% endblock %}
