{% extends 'base.html' %}

{% block content %}
  {% include 'students/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Задача</th>
          <th>Бали</th>
          <th>Перездати</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_task in taken_tasks %}
          <tr>
            <td>{{ taken_task.task.title }}</td>
            <td>{{ taken_task.score }}</td>
            <td><a href="{% url 'students:take_task' taken_task.task.pk %}" class="btn btn-warning">Так</a></td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">Ви ще не вирішили жодної задачі.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
